<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<h2 style="text-align: center;">Tambahkan Buku</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
              {%for fom in forms%}
             <div class="form-group">
                   {{fom.label_tag}}
                     {{fom}}
             </div>

                 {%endfor%}

    <button type="submit" class="btn btn-primary" style="margin-top:50px">KIRIM</button>
</form>
        </div>
    </div>
</div>

</body>
</html>